<div class="ui form" style="width:100%;padding-bottom:1.5rem;">
    {% assign person_limit = 2 %}
    {%- if product.metafields.person-limit.count != blank %}
    {% assign person_limit = product.metafields.person-limit.count %}
    {%- endif %}
    <input type="hidden" id="page_url" value="{{ product.url }}">
    <input type="hidden" id="person_limit" value="{{ person_limit }}">
    <input type="hidden" id="ornament-snippet" value="{{ product.metafields.ornament.field-snippet }}">

	{% comment %} handle the product variants {% endcomment %}
    {% unless product.has_only_default_variant %}
    <input type="hidden" id="id" name="id" value="" />
    <div class="ui raised segment grid">
        {% for option in product.options_with_values %}
        <div class="basic eight wide column">
            <label for="SingleOptionSelector-{{ forloop.index0 }}" style="font-weight: bold;">{{ option.name }}</label>
            <div class="ui selection dropdown" id="SingleOptionSelector-{{ forloop.index0 }}">
                <input type="hidden" id="SingleOptionSelector-{{ forloop.index0 }}">
                <i class="dropdown icon"></i>
                <div class="default text">Select {{ option.name }}</div>
                <div class="menu">
                    {% for value in option.values %}
                    <div class="item" data-value="{{ value | escape }}" {% if option.selected_value == value %}
                        selected="selected" {% endif %}>{{ value }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endunless %}

    <div class="ui raised segments" id="details">
        <div class="ui field basic segment">
            <div class="ui small header">Select Custom Details</div>
		</div>
		{% comment %} handle text fields first {% endcomment %}
        <div class="ui stackable column grid basic segment" style="margin-top: 0rem !important;">
            <div class="column field focus" style="padding-top: 0rem !important; padding-bottom: 0rem !important;">
                <div class="ui input fluid field">
                    <input style="color:black;" type="text" id="persons-name" name="persons-name"
                        placeholder="Enter Persons Name" value="">
                </div>
            </div>
		</div>
		{% comment %} handle dropdowns {% endcomment %}
        <div class="ui stackable two column grid basic segment" style="margin-top: 0rem !important;">
          {%- assign totalDropdowns = product.metafields.dropdowns.size -%}
          {%- for i in (1..totalDropdowns) -%}
                {%- for dropdown in product.metafields.dropdowns -%}
                    {%- assign dropdownDetails = dropdown[1] -%}
                    {%- assign dropdownKey = dropdown[0] -%}
                    {%- if dropdownDetails.order == i -%}
                        <div class="column">
                            <h2 class="ui sub header">{{ dropdownDetails.name }}</h2>
                            <div class="ui selection dropdown" id="{{ dropdownKey }}-dropdown">
                                <input type="hidden" id="selected-{{ dropdownKey }}" name="{{ dropdownKey }}-type"
                                    image_name="{{ dropdownDetails.image | default: 'choices_first_page' }}"
                                    placeholder="{{ dropdownDetails.default }}" alt="{{ dropdownDetails.name }}"
                                    optional="{{ dropdownDetails.optional }}" optional_after_first="{{ dropdownDetails.optional_after_first | default: 'false' }}">
                                <i class="dropdown icon"></i>
                                <div class="default text">{{ dropdownDetails.default }}</div>
                                <div class="menu">
                                    {%- if dropdownDetails.list != blank -%}
                                        {%- assign listItems = dropdownDetails.list | split: "," -%}
                                        {%- for listItem in listItems -%}
                                            <div class="item" data-value="{{ listItem }}">{{ listItem }}</div>
                                        {%- endfor -%}
                                    {%- else -%}
                                        {%- assign my_limit = dropdownDetails.count -%}
                                        {%- for i in (1..my_limit) -%}
                                            <div class="item" data-value="{{ i }}">{{ i }}</div>
                                        {%- endfor -%}
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}
            {%- endfor -%}
        </div>
        <div class="ui field basic segment">
            <div class="field">
                <button type="button" name="addCharacter" id="addCharacter-{{ section.id }}"
                    class="ui right primary button" onclick="formFunctions.addSelection();">
                    <span id="addCharacterText-{{ section.id }}">
                        Add Character
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 1em;padding-bottom: 1em;">
        <div class="ui header details_header">Person Details</div>
        <div class="ui two doubling cards individual_details">

        </div>
    </div>
</div>

{{ 'ornament-pairs.js' | asset_url | script_tag }}